a { color:#FFFFFF; } 
a:visited { color:#FFFFFF; } 
a:active { color:#0080FF; } 
a:hover { color:#0080FF; } 
		a.wsp5e11d928{ color:#000000; text-decoration: none} 
		a.wsp5e11d928:visited{ color:#000000; text-decoration: none} 
		a.wsp5e11d928:active{ color:#0080FF; text-decoration: none} 
		a.wsp5e11d928:hover{ color:#0080C0; text-decoration: none} 
#table_433edc8a th {  } 
#table_433edc8a td {  } 
#table_4df4f27 th { border: 0px solid #AFAFAF;  } 
#table_4df4f27 td { border: 0px solid #AFAFAF;  } 
#table_554fe58f th { border: 0px solid #E5E5E5;  } 
#table_554fe58f td { border: 0px solid #E5E5E5;  } 
/* make the default for hyperlinks NO UNDERLINE */
a { text-decoration: none; }
/* Center Icons */
.center { text-align: center; width: 100%; }
/* Make FA icons blue */
.fa-blue {color: CornflowerBlue;}body { background-color:#CECECE; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_43f35ecd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:2615px; background:none;  }
#container_70954eb3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:66px; background-color:#404040; position: fixed; z-index: 3000; }
.textstyle2 { text-align:center; }
#table_433edc8a { vertical-align: bottom; position:relative; display: inline-table; width:22%; height:65px; background:none; table-layout: fixed;  }
#cell_64589801 {  }
.textstyle3 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#FFFFFF;  }
#cell_52bab2b0 {  }
#cell_149edc9c {  }
#cell_33ab7473 {  }
#container_78250f0d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:63px; background:none;  }
#container_78250f0d_padding { margin: 10px; display: block;  }
#container_6470dc24 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:329px; background-color:#3686AF;  }
#container_1838cf5f { vertical-align: top; position:relative; display: inline-block; width:53%; min-height:392px; background:none;  }
#container_1838cf5f_padding { margin: 10px; display: block;  }
#img_63e95b3a { vertical-align: bottom; position:relative; display: inline-block; width:28%; background:none; height:auto;  }
#container_2b21313a { vertical-align: top; position:relative; display: inline-block; width:7%; min-height:315px; background:none;  }
#container_2b21313a_padding { margin: 10px; display: block;  }
#container_41316cca { vertical-align: top; position:relative; display: inline-block; width:62%; min-height:350px; background:none;  }
#container_41316cca_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:32pt; font-family:Arial, Helvetica, sans-serif; color:#CECECE;  }
.textstyle5 { font-size:40pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#CECECE;  }
.textstyle6 { font-size:32pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#CECECE;  }
.textstyle7 { font-size:26pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#CECECE;  }
#img_531a072a { vertical-align: bottom; position:relative; display: inline-block; width:9%; background:none; height:auto;  }
.textstyle8 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#img_237cf6ab { vertical-align: bottom; position:relative; display: inline-block; width:9%; background:none; height:auto;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_41b54f75 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; width:55%; min-height:1950px; background-color:#AFAFAF;  }
#container_41b54f75_padding { margin: 10px; display: block;  }
#container_3fffa953 { vertical-align: top; position:relative; display: inline-block; width:78%; min-height:448px; background:none;  }
#container_3fffa953_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:40pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  }
.textstyle11 { font-size:16pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  }
#container_f03fcce { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:57px; background:none;  }
#container_f03fcce_padding { margin: 10px; display: block;  }
#anchor_28baa5e8 { vertical-align: top; position:relative; display: inline-block;  }
#container_45e63ad5 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; width:100%; min-height:376px; background-color:#CECECE;  }
#container_45e63ad5_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:40pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_7ff8c789 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:350px; background:none;  }
#container_7ff8c789_padding { margin: 10px; display: block;  }
#table_4df4f27 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:101%; height:454px; background:none; border: 0px solid #AFAFAF; table-layout: fixed;  }
#cell_77b764d8 {  }
#container_281fe99 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_281fe99_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:18pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  }
#cell_4b9a073a {  }
#container_68e3b2c9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_68e3b2c9_padding { margin: 10px; display: block;  }
#cell_1fa0001a {  }
#container_1dd26cd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_1dd26cd_padding { margin: 10px; display: block;  }
#cell_64b656e5 {  }
#container_44bdc134 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_44bdc134_padding { margin: 10px; display: block;  }
#cell_7e5cdcd {  }
#container_226d4505 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_226d4505_padding { margin: 10px; display: block;  }
#cell_5c1636c2 {  }
#container_40e87384 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_40e87384_padding { margin: 10px; display: block;  }
#container_586c6f3e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:56px; background:none;  }
#container_586c6f3e_padding { margin: 10px; display: block;  }
#anchor_47c8314 { vertical-align: top; position:relative; display: inline-block;  }
#container_12daa2b2 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; width:100%; min-height:707px; background-color:#CECECE;  }
#container_12daa2b2_padding { margin: 10px; display: block;  }
#table_554fe58f { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:100%; height:454px; background:none; border: 0px solid #E5E5E5; table-layout: fixed;  }
#cell_203c19b5 {  }
#container_638ba834 { box-sizing: border-box; vertical-align: top; border-radius: 15px; position:relative; display: inline-block; width:100%; min-height:204px; background-color:#CECECE; background: linear-gradient(to bottom, #7F7F7F, #CECECE); border: 1px solid #404040;  }
#container_638ba834_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_74966c12 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:172px; background:none;  }
#container_74966c12_padding { margin: 10px; display: block;  }
#img_55f61180 { vertical-align: bottom; position:relative; display: inline-block; width:38%; background:none; height:auto;  }
#cell_514d2553 {  }
#container_769eeeb7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:227px; background:none;  }
#container_769eeeb7_padding { margin: 10px; display: block;  }
#cell_1af30062 {  }
#container_275fbf4a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:224px; background:none;  }
#container_275fbf4a_padding { margin: 10px; display: block;  }
#cell_29f96627 {  }
#container_1f818d45 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:223px; background:none;  }
#container_1f818d45_padding { margin: 10px; display: block;  }
#cell_6ef42153 {  }
#container_7cd148eb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:225px; background:none;  }
#container_7cd148eb_padding { margin: 10px; display: block;  }
#cell_6dc700a4 {  }
#container_23114cfc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:224px; background:none;  }
#container_23114cfc_padding { margin: 10px; display: block;  }
#container_12f25c71 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background:none;  }
#container_12f25c71_padding { margin: 10px; display: block;  }
