a { color:#FFFFFF; } 
a:visited { color:#FFFFFF; } 
a:active { color:#0080FF; } 
a:hover { color:#0080FF; } 
/* make the default for hyperlinks NO UNDERLINE */
a { text-decoration: none; }
/* Center Icons */
.center { text-align: center; width: 100%; }body { background-color:#CECECE; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_65c7c3f5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:67px; background-color:#404040; position: fixed; z-index: 3000; }
#container_65c7c3f5_padding { margin: 10px; display: block;  }
#container_4dd2eac8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_4dd2eac8_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#container_5a4d3624 { vertical-align: top; position:relative; display: inline-block; width:3%; min-height:40px; background:none;  }
#container_5a4d3624_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#FFFFFF;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_33793bb5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:100px; background:none;  }
#container_33793bb5_padding { margin: 10px; display: block;  }
#container_62a4ca17 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_62a4ca17_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:40pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  }
#container_3ca14934 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:2525px; background:none;  }
#container_5775fb { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; width:67%; min-height:2430px; background-color:#AFAFAF;  }
#container_5775fb_padding { margin: 10px; display: block;  }
#container_4e2dc648 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:2402px; background:none;  }
#container_4e2dc648_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  }
#container_50dff902 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background:none;  }
#container_50dff902_padding { margin: 10px; display: block;  }
