a { color:#FFFFFF; } 
a:visited { color:#FFFFFF; } 
a:active { color:#0080FF; } 
a:hover { color:#0080FF; } 
		a.wsp5e11d928{ color:#000000; text-decoration: none} 
		a.wsp5e11d928:visited{ color:#000000; text-decoration: none} 
		a.wsp5e11d928:active{ color:#0080FF; text-decoration: none} 
		a.wsp5e11d928:hover{ color:#0080C0; text-decoration: none} 
/* make the default for hyperlinks NO UNDERLINE */
a { text-decoration: none; }
/* Center Icons */
.center { text-align: center; width: 100%; }body { background-color:#CECECE; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_78055da2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:67px; background-color:#404040; position: fixed; z-index: 3000; }
#container_78055da2_padding { margin: 10px; display: block;  }
#container_3578321b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_3578321b_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#container_25bd00f2 { vertical-align: top; position:relative; display: inline-block; width:3%; min-height:40px; background:none;  }
#container_25bd00f2_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#FFFFFF;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_4aba8bf3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:100px; background:none;  }
#container_4aba8bf3_padding { margin: 10px; display: block;  }
#container_5c87a008 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_5c87a008_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:40pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  }
#container_7e041a8c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:2525px; background:none;  }
#container_5475a51b { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; width:67%; min-height:2430px; background-color:#AFAFAF;  }
#container_5475a51b_padding { margin: 10px; display: block;  }
#container_1c6e0b8e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:2402px; background:none;  }
#container_1c6e0b8e_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  }
#container_8884fa5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background:none;  }
#container_8884fa5_padding { margin: 10px; display: block;  }
